.deps
.dirstamp
.libs
*~
*.bak
*.la
*.lo
*.o

# /
/Makefile
/Makefile.in
/SDL_PangoDraw.pc
/SDL_PangoDraw-*
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/sdl_pangodraw-*

# /Wix/
/Wix/*.msi
/Wix/*.msm
/Wix/*.wixobj
/Wix/merge_module.xml
/Wix/Makefile
/Wix/dev.xml
/Wix/testbench.xml

# /VisualC2003/
/VisualC2003/*.aps
/VisualC2003/Debug
/VisualC2003/Release
/VisualC2003/Makefile
/VisualC2003/Makefile.in

# /VisualC2003/testbench/
/VisualC2003/testbench/*.aps
/VisualC2003/testbench/Debug
/VisualC2003/testbench/Release

# /VisualC2003/testbench/Setup/
/VisualC2003/testbench/Setup/Debug
/VisualC2003/testbench/Setup/Release

# /config/
/config/argz.m4
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/libtool.m4
/config/lt*.m4
/config/ltmain.sh
/config/missing

# /m4/
/m4/argz.m4
/m4/libtool.m4
/m4/pkg.m4
/m4/lt*.m4

# /docs/
/docs/*.log
/docs/Doxyfile
/docs/Makefile
/docs/Makefile.in
/docs/html

# /src/
/src/Makefile
/src/Makefile.in

# /test/
/test/Makefile
/test/Makefile.in
/test/testbench

